style

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 2px solid #ddd;
}

th {
    background-color: #9595b1;
}



